// templates    


%script{ type: "text/template", id: "cityView-tmpl" }
  :plain
    %div
      %p.name= name
      %span.subtitle resources:
      .resources
      %span.subtitle production:
      .production
      something in queue?
    

%script{ type: "text/template", id: "armyView-tmpl" }
  :plain
    %div
      %p.name 
        army [
        = id
        ]
      
      %p.loc loocation:
      .location
        = location.latitude
        ,
        = location.longitude
      .status
        - if (moving) {
        moving at speed 
        = speed
        - } else {
        ready
        - }
         
      %span.subtitle units:
      .units
        ....
      %span.subtitle resources:
      .resources
      
    
-# %script{ type: "text/template", id: "citiesView-tmpl" }
-#   :plain
-#     %p List
-#     %ul
-#     
-# 
-# %script{ type: "text/template", id: "armiesView-tmpl" }
-#   :plain
-#     %p List
-#     %ul


%script{ type: "text/template", id: "armyOverview-tmpl" }
  :plain
    army overview...

%script{ type: "text/template", id: "structView-tmpl" }
  :plain
    this is a struct
  
%script{ type: "text/template", id: "queueItemView-tmpl" }
  :plain 
    %div
      .removeButton x
    .level 
      lv:
      = level
    .running
      running:
      = running
      %p started at:
      = started_at
    .structure_id
      struct:
      = structure_id
    .time
      time needed:
      = time_needed

%script{ type: "text/template", id: "queueView-tmpl" }
  :plain
    %p.errors= errors
    >
    %ul.queueItems
      
      
%script{ type: "text/template", id: "debugDialog-tmpl" }
  :plain
    .dialog
      %p 
        debug the debuggable
      
%script{ type: "text/template", id: "playerView-tmpl" }
  :plain
    %p 
      Welcome, 
      %span= name

%script{ type: "text/template", id: "armyDialog-tmpl" }
  :plain
    .title.army
      .closeButton x
      .switchButton
      %p.name 
        = player.name
        's Army
    .overview
    
    .dialog.army
      %p.player.name= player.name
      commands
      .commands
        
      
%script{ type: "text/template", id: "cityDialog-tmpl" }
  :plain
    .title.city
      .closeButton x
      .switchButton
      
      %p.name= city.name
    .overview
      overrrrr
    %ul.nav
      %li.city_infos
        %a{ href: "javascript:void(0)" } City
      %li.city_structs 
        %a{ href: "javascript:void(0)" } Buildings
      %li.city_units 
        %a{ href: "javascript:void(0)" } Units
      %li.city_techs 
        %a{ href: "javascript:void(0)" } Research
      %li.debug 
        %a{ href: "javascript:void(0)" } Debug  
    .dialog
      / dialog content
        

%script{ type: "text/template", id: "city_infosDialog-tmpl" }
  :plain
    %div
      .info
        %p.player= player.name
        %p.population 
          pop: 
          = city.pts.format()
        %p.location
          loc: 
          = latitude
          ,
          = longitude
    .queue_head Queue
    .queue
      ...

%script{ type: "text/template", id: "resourcesView-tmpl"}
  :plain
    %div
      %p= gold
      %img{ src: "/images/icons/gold.png"}
      %p= steel
      %img{ src: "/images/icons/steel.png"}
      %p= oil
      %img{ src: "/images/icons/oil.png"}


%script{ type: "text/template", id: "city_structsDialog-tmpl" }
  :plain
    %ul.structures
      :each struct in definitions
        %li
          %a.btn.upgrade{ href: "javascript:void(0)" } Upgrade
          %img.thumb{ src: "/images/thumbs/structs/"+struct.name.filenamize()+".png"  }
          %p.name
            = struct.name
            %span level:
            %span.level 0
          %p.desc= struct.description
          :if struct.base_production
            %p.prod
              production:
              %span= struct.base_production
          %div.cost
            
  

// TODO: create UnitDefView
%script{ type: "text/template", id: "city_unitsDialog-tmpl" }
  :plain
    %ul.units
      :each unit in definitions
        %li
          %a.btn.recruit{ href: "javascript:void(0)" } Recruit
          %img.thumb{ src: "/images/thumbs/units/"+unit.name.filenamize()+".png"  }
          %p.name= unit.name
          %p.type= unit.unit_type
          %p.stats
            attack: 
            %span= unit.power
            defense: 
            %span= unit.defense
            attack type:
            %span= new AttackType(unit.attack_type).toString()
          %div.cost
            %p= unit.gold_cost
            %img{ src: "/images/icons/gold.png"}
            %p= unit.steel_cost
            %img{ src: "/images/icons/steel.png"}
            %p= unit.oil_cost
            %img{ src: "/images/icons/oil.png"}
          %p.movement
            Moves at 
            %span= unit.movement_speed
            consuming 
            %span= unit.movement_cost
          %p.transport
            Transports
            %span= unit.transport_capacity
            units,
            %span= unit.cargo_capacity
            resources

      
%script{ type: "text/template", id: "city_techsDialog-tmpl" }
  :plain
    %ul.techs
      :each tech in definitions
        %li
          %a.btn.upgrade{ href: "javascript:void(0)" } Research
          %img.thumb{ src: "/images/thumbs/techs/"+tech.name.filenamize()+".png"  }
          %p.name= tech.name
          %p.desc= tech.description
          %div.cost
            %p= tech.gold_cost
            %img{ src: "/images/icons/gold.png"}
            %p= tech.steel_cost
            %img{ src: "/images/icons/steel.png"}
            %p= tech.oil_cost
            %img{ src: "/images/icons/oil.png"}

    
      
%script{ type: "text/template", id: "armyActionsMenu-tmpl" }    
  .move 
    Move
  .attack
    Attack