- content_for :head do
  %meta{ name: "viewport", content: "user-scalable=no" }
- content_for :maps do
  - if Rails.env == "production"
    %script{ src: "http://maps.googleapis.com/maps/api/js?sensor=true", type: "text/javascript"}
  - else # cached version - not for production!!!!
    %script{ src: "/javascripts/vendor/gmaps.js"}

- content_for :debug do
  %p #{DB::Location.count} locations, #{DB::City.count} cities
  
  #centerMap.tool
    %form#latLng
      %label{ for: "lat_lng" } lat, lng: 
      %input{ type: "text", name: "lat_lng", id: "lat_lng" }
      %input{ type: "submit", value: "Go" }
  
  
  #cities.overlay
    
  #armies.overlay
    - army = DB::Army.first
    %p #{army.attributes}
    - loc = army.location
    %p [#{loc.latitude}, #{loc.longitude}]
  
#map_canvas